html{
	font-family: 'VT323', monospace;
	background-image: url("stars.gif");
	background-size: max-width max-height;
}
#congrats{
	text-align: center;
	font-size: 100px;
	color: black;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#start_button{
	background-image: url("start.png");
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 50%;
}
