html{
	font-family: 'VT323', monospace;
	background-image: url("confetti.gif");
	background-size: max-width max-height;
}
#congrats{
	text-align: center;
	font-size: 100px;
	color: black;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#message{
	text-align: center;
	font-size: 40px;
	color: black;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#play_again{
	background-image: url("play_again.png");
	background-size: cover;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30vw;
	height: 20vh;
}
